@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply font-epilogue text-lg font-medium
    }
}

@layer components{
    .underline-hover{
        position: relative;
    }

    .underline-hover:hover{
        color: black;
    }

    .underline-hover:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 0;
        height: 3px;
        background-color: black;
        transition: width .3s;
    }

    .underline-hover:hover:after{
        width: 100%;
    }
}